<mat-card class="example-card">
    <mat-card-subtitle>Energy Card</mat-card-subtitle>
    <mat-card-title>ID: {{ card?.energyCardID}}</mat-card-title>
    <mat-card-content>
      <p><b>CountryID</b>: {{ card?.countryID }}</p>
      <p><b>Country</b>: {{ card?.country }}</p>
      <p><b>EnergyID</b>: {{ card?.energyID }}</p>
      <p><b>EnergyType</b>: {{ card?.energyType }}</p>
      <p><b>Consumption</b>: {{ card?.consumption }}</p>
      <p><b>Production</b>: {{ card?.production }}</p>
    </mat-card-content>
  </mat-card>